@import "../styles/variables";

.carousel {
    background-color: $secondary;
    padding: 40px 0;
    color: white;
    width: 100%;
}

@media (min-width: 768px) {
    .carousel {
        height: 19rem;
    }
}