.container {
    margin-bottom: 2.2rem;
    padding-top: 1rem;
}

.contactButton {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}

@media (min-width: 768px) {
    .container {
        padding-top: 5rem;

        p {
            font-size: 1.35rem;
            line-height: 1.3;
        }
    }

    .contactButton {
        padding-left: 4.3rem;
        padding-right: 4.3rem;
    }
}