$color0: #f8f7f2;
$color1: #E59D31;
$color2: #B8A957;
$color3: #EBA45A;
$color4: #046CA1;
$color5: #CB7783;
$color6: #1599B6;
$color7: #010101;
$color8: #7e7c68;
$color9: #eba45a99;

$background: $color0;
$primary: $color1;
$secondary: $color4;
$footer: $color6;
$text-color: $color7;
$text-secondary: $color8;
$masonry-bg: $color9;
$masonry-bd: $color5;